* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

footer {
	line-height: 50px;
	background: rgb(118, 118, 118);
	height: 50px;
	font-size: 0.7rem;
	color: black;
	padding-left: 2rem;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
